@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root{
    --bg-color: #081b29;
    --bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
	--border: 3px;
	--color1: #6be89b;
	--color2: #0076a5;
	--from: 30deg;
	--distance: 46%;

}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    /* background: var(--bg-color);
    color: var(--text-color); */
	
		width: 100%;
		height: 100vh;
		background: linear-gradient(
		  to right,
		  #7dd87d 0%,
		  #7dd87d 60%,
		  #00204a 60%,
		  #00204a 100%
		);
		
  display: grid;
  place-items: center;
  height: 100vh;
  margin: 0;
	  
}

/* .header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: #043d7f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index:100;
} */

.logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 700;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 3.5rem;
    transition: .3s;
}

.navbar a:hover {
    color: var(--main-color);
    }

/* .container{
	width: 100%;
	height: 100vh;
	position:relative;
} */
/* 
nav{
	display:flex;
	width:100%;
	align-items:center;
	flex-wrap:wrap;
	padding-left: 800px;
	font-size: 20px;
}

nav ul{
	flex:1;
	text-align: right;
	padding-right: 30px;
}

nav ul li{
	display:inline-block;
	list-style:none;
	margin:10px 30px;
}

nav ul li a{
	color:#ffff;
	text-decoration: none;
	position: relative;
}*/

nav ul li a ::after{
	content: '';
	width: 0;
	height:3px;
	position: absolute;
	bottom:-5px;
	left:50%;
	transform: translateX(-50%);
	background:#fff;
	transition: width 0.3s;
}
nav ul li a:hover::after{
	width:50%;
}  */


  .img-wrap {
	position: relative;
	padding: 30px;
  }
  .img-wrap::after {
	content: '';
	border-radius: 999px;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: conic-gradient(
	  from var(--from),
	  var(--color1),
	  var(--color2) var(--distance),
	  transparent var(--distance)
	);
	-webkit-mask: radial-gradient(
	  farthest-side,
	  transparent calc(100% - var(--border)),
	  #fff calc(100% - var(--border) + 1px)
	);
	mask: radial-gradient(
	  farthest-side,
	  transparent calc(100% - var(--border)),
	  #fff calc(100% - var(--border) + 1px)
	);
  }
  img {
	border-radius: 999px;
	display: block;
	width: calc(50vw - 10px);
	max-width: 280px;
	height: auto;

  }
  
  /* CONTROLS */
  .controls {
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	background: #000a;
	padding: 0.5em;
	display: grid;
	gap: 0.25em;
	color: #eee;
	font-family: system-ui, sans-serif;
	font-size: 0.875rem;
	text-transform: uppercase;
  }
  .control {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1em;
  }
  input {
	width: 200px;
  }

.heading{
	float: left;
  margin-bottom: 20px;
  margin-left: 100px;
  margin-top: 20px;
  text-align: left !important;
  width: 100%;
}
 

.name{
	float: left;
  margin-bottom: 0px;
  margin-left: 100px;
  margin-top: 0px;
  text-align: left !important;
  width: 100%;
  font-size:20px;
}

.text-box{
	color:#fff;
	position:absolute;
	bottom:8%; 
}

.text-box p{
	font-size:50px;
	font-weight:600 ;

}

.text-box h1{
	font-size: 130px;
	line-height: 160px;
	margin-left: -10px;
	color:transparent;

	
	-webkit-text-stroke: 1px #000000;
}

.text-box h3{
	font-size: 40px;
	font-weight: 500;
}

.about{
	position: absolute;
	z-index: 100;
	text-align:right;
	color:#ffff;
	display:block;
	float: right;
	width:100%;
	padding-right: 225px;
	padding-top:0px;
	font-size: 15px;
	margin-top: 0px;
	margin-bottom: 375px;
}

.project {
	position: absolute;
	z-index: 10;
	text-align:right;
	color:#ffff;
	display:block;
	float: right;
	width:100%;
	padding-right: 50px;
	padding-top:0px;
	font-size: 15px;
	margin-top: 0px;
}

.contact {
	position: absolute;
	z-index: 10;
	text-align:right;
	color:#ffff;
	display:block;
	float: right;
	width:100%;
	padding-right: 225px;
	padding-top:10px;
	font-size: 15px;
	margin-top: 375px;
}

/* .projects a{
	color:#ffff;
	font-size: 25px;
	position:relative;
	text-decoration: 'none';
	font-family:'Poppins',sans-serif ;
} */


 

/* .about a{
	color:#ffff;
	font-size: 25px;
}

.contact a{
	color:#ffff;
	font-size: 25px;
} */

a{
	position:relative;
	text-decoration: 'none';
	font-family:'Poppins',sans-serif ;
	color:#ffff;
	font-size: 18px;
	letter-spacing: 0.5px;
}

a:after{
	content: "";
	position: absolute;
	background-color: #7dd87d;
	height:3px;
	width: 0%;
	left:0;
	bottom:-10px;
	transition:0.8s;
}

a:hover{
	color:#ffff;
}

a:hover:after{
	width:100%;
}
